html, body {
    background-color: #21232A;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9rem;
    padding: 70px;
}

button {
    font-size: 0.9rem;
    margin-right: 10px;
    padding: 10px;
}